{% extends "boilerplate.html" %}

{% block title %}
    Image Upload
{% endblock %}

{% block main %}
    <div class="header">
        <h1>Is there a Rubber duck in this Image?</h1>
    </div>
    <div class="container">
        <div class="section">
            <!-- Form to allow user to upload an image -->
             <form action="/image.html" method="post" enctype="multipart/form-data">
                <input type="file" name="image" accept="image/*" required>
                <button type="submit">Upload Image</button>
             </form>
        </div>
    </div>
{% endblock %}
